# Node modules
**/node_modules/

# Logs
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log

# Environments
.env
.env.*

# Docker
**/data/
**/mongodb_sensors_data/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db